* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

html {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    body {
        height: 100%;
        width: 100%;
    }
}

.container {
    max-width: 720px;
    min-height: 100%;
    margin: 0 auto;
    margin-bottom: -50px;
    header {
        h1 {
            display: inline-block;
            padding-left: 30px;
            font-size: 1.5em;
            margin-top: 30px;
            @media screen and (max-width: 390px) {
                display: block;
                margin: 0 auto;
                text-align: center;
                padding: 0;
            }
        }
        nav {
            float: right;
            margin-right: 50px;
            margin-top: 30px;
            height: 1.5em;
            @media screen and (max-width: 390px) {
                float: none;
                margin: 30px auto;
                text-align: center;
            }
            ul li {
                list-style: none;
                margin: 0 auto;
            }
            a {
                text-decoration: none;
                padding: 5px 14px;
                font-size: 0.7em;
                border: 1px solid grey;
                border-radius: 5px;
            }
        }
    }
    main {
        h3 {
            display: inline-block;
            height: 50px;
            line-height: 50px;
            padding-left: 30px;
            @media screen and (max-width: 530px) {
                display: block;
                padding: 0;
                text-align: center;
            }
        }
        p {
            color: grey;
            font-size: 10px;
            margin: 10px 0;
        }
        .content {
            color: black;
            font-size: 0.8em;
            margin: 10px 0 30px 0;
        }
        input {
            float: right;
            margin-right: 50px;
            border-radius: 5px;
            padding: 5px 5px 5px 20px;
            background: url('../img/search.svg');
            background-repeat: no-repeat;
            background-size: 12px;
            background-position: 6px 6px;
            border: 1px solid grey;
            @media screen and (max-width: 530px) {
                display: block;
                float: none;
                margin: 0 auto 30px auto;
            }
        }
        .candidates-list {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap; 
            .candidate-info {
                width: 150px;
                height: 200px;
                background: lightgreen;
                margin: 2%;
                text-align: center;
                box-shadow: 0 0 15px -2px rgb(0, 0, 0);
                font-size: 0.6em;
                padding: 10px;
                @media screen and (max-width: 390px) {
                    width: 75%;
                }
                p {
                    margin-top: 10px;
                }
                .image-box {
                    width: 80%;
                    height: 150px;
                    margin: 0 auto 10px auto;
                }
            }
        }
    }
    #spacer {
        height: 50px;
    }
}

footer {
    height: 50px;
    text-align: center;
    background: lightseagreen;
    line-height: 50px;
}

/********* candidate reports page style **********/

.candidate-data {
    margin: 50px auto ;
    width: 80%;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 560px) {
        display: block;
        text-align: center;
    }
    .large-img {
        width: 30%;
        @media screen and (max-width: 560px) {
            width: 70%;
            text-align: center;
            margin: 0 auto;
        }
        #candidate-avatar {
            width: 80%;
            height: auto;
        }
    }
    div:nth-child(2), div:nth-child(3) {
        width: 30%;
        font-size: 0.8em;
        @media screen and (max-width: 560px) {
            display: inline-block;
            width: 48%;
        }
        @media screen and (max-width: 390px) {
            width: 80%;
        }
    }
}

.reports {
    table {
        text-align: center;
        font-size: 12px;
        border-radius: 15px;
        width: 80%;
        margin: 50px auto;
        tr:last-child td:first-child {
            border-bottom-left-radius: 5px;
        }
        thead {
            background: rgb(129, 197, 123);
            :last-child {
                border-top-right-radius: 5px;
            }
            th {
                height: 25px;
            }
        }
        tr:nth-child(2n+0) {
            background: rgb(185, 255, 166);
        }
        .open-modal {
            width: 20px;
            height: 20px;
            margin: 0 auto;
        }
    }
    
}

#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: space-around;
    align-items: center;
    background: rgba(177, 176, 176, 0.884);
    #modal-box {
        position: relative;
        background: white;
        width: 60%;
        height: min-content;
        padding: 10px;
        border-radius: 2px;
        box-shadow: 0 0 12px 0px grey inset;
        h2 {
            border-bottom: 1px solid grey;
        }
        #close {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 4px;
            right: 8px;
            border-radius: 50%;
            font-size: 24px;
            box-shadow: 0 4px 10px 0px grey;
            line-height: 18px;
            text-align: center;
            cursor: pointer;
        }
        p {
            color: grey;
            font-size: 10px;
        }
        .content {
            color: black;
            font-size: 16px;
        }
        div {
            margin-top: 10px;
            display: inline-block;
            width: 47%;
            vertical-align: top;
            @media screen and (max-width: 390px) {
                display: block;
                width: 100%
            }
        }
        #modal-notes {
            color: black;
            font-size: 12px;
        }
    }
}

